<div class="wrapper">
    <app-index-navbar></app-index-navbar>

    <section class="section-profile-cover section-shaped bg-gradient-default my-0">
      <!-- Circles background -->
      <img class="bg-image" src="../assets/patterns/Taieri.svg" style="width: 100%;">
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-secondary" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <section class="section bg-secondary">
      <div class="container">
        <div class="card card-profile shadow mt--300">
          <div class="px-4">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  
                    <img src="{{ selectedOrganization.photoURL }}" class="img-fluid mt--100 bg-white px-5 py-5 shadow rounded">
                 
                </div>
              </div>
              <div class="col-lg-4 order-lg-3 text-lg-right">
               <div class="badge badge-pill badge-default text-uppercase mt-2 mr-2"><i class="fas fa-star"></i> {{ selectedOrganization.found }}</div> 
              </div>
              <div class="col-lg-4 order-lg-1">
                <div class="badge badge-pill badge-default text-uppercase mt-2 mr-2"><i class="fas fa-calendar-day" *ngIf="selectedOrganization.createdDate"></i>  {{selectedOrganization.createdDate.toDate() | date:'dd MMM yyyy'}} </div>               
              </div>
            </div>
            <div class="text-center mt-5">
              <h3>{{  selectedOrganization.title }}<span class="font-weight-light"></span></h3>
              <div class="h6 font-weight-300" *ngIf="selectedOrganization.location"><i class="fas fa-map-pin mr-2"></i>{{ selectedOrganization.location }}</div>
              
              
              <div class="mt-2">
                <span class="badge badge-pill badge-default text-uppercase mt-2 mr-2" *ngFor="let ccause of selectedCause"><i [ngClass]="ccause.fonticon" ></i> {{ ccause.title }}</span>
              </div>

              <div class="btn-wrapper text-center mt-2 mb-5">
                <a *ngIf="selectedOrganization.mapURL != '' " href="{{ selectedOrganization.mapURL }}" target="_blank" class="btn btn-white btn-icon mt-3 mb-sm-0">
                    <i class="fas fa-map-pin"></i>
                </a>
                <a *ngIf="selectedOrganization.webURL != '' " href="{{ selectedOrganization.webURL }}" target="_blank" class="btn btn-white btn-icon mt-3 mb-sm-0">
                    <i class="fas fa-globe"></i>
                </a>
                <a [routerLink]="[ '/member', selectedOrganization.uid ]" target="_blank" class="btn btn-white btn-icon mt-3 mb-sm-0">
                    <i class="fas fa-user-astronaut"></i>
                </a>
            </div>

            </div>
            <div class="mt-5 py-5 border-top text-center">
              <div class="row justify-content-center">
                <div class="col-lg-9">
                  <p>{{ selectedOrganization.mission }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <app-footer></app-footer>
  </div>