<div class="register-page">

    <div class="wrapper">
        <section class="section-hero section-shaped section-lg">
            <div class="shape shape-style-1 shape-default">
                <span class="span-150"></span>
                <span class="span-50"></span>
                <span class="span-50"></span>
                <span class="span-75"></span>
                <span class="span-100"></span>
                <span class="span-75"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
              </div>
            <div class="container pt-lg-7">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card bg-secondary shadow border-0">
                            <div class="card-header bg-white text-center">
                                <img src="../../../../assets/img/brand/icon.png" style="width: 30px; height: auto;" />
                                <div class="text-muted text-center"><small>SIGN UP</small></div>
                            </div>
                            <div class="card-body px-lg-5 py-md-5">
                               
                                <form role="form"  [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" >
                                   
                                    <div class="form-group">
                                        <div class="input-group input-group-alternative mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-user"></i></span> 
                                            </div>
                                            <input class="form-control" placeholder="Name *" required type="text" formControlName="displayname" > 
                                        </div> 
                                    </div>
                                    <div *ngIf="submitted && f.displayname.errors" class="text-danger">
                                        <div *ngIf="f.displayname.errors.required">Name is required</div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group input-group-alternative mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-email-83"></i></span> 
                                            </div>
                                            <input class="form-control" placeholder="Email *" required type="email" formControlName="email" > 
                                        </div> 
                                    </div>
                                    <div *ngIf="submitted && f.email.errors" class="text-danger">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                    </div>
                                 
                                    <div class="form-group focused">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i
                                                        class="ni ni-lock-circle-open"></i></span>
                                            </div>
                                            <input class="form-control" placeholder="Password (min length - 5) *" required type="password" formControlName="password" >
                                        </div>  
                                    </div>
                                    <div *ngIf="submitted && f.password.errors" class="text-danger">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                        <div *ngIf="f.password.errors.minlength">Password must be at least 5 characters</div>
                                    </div>

                                    <div class="form-group focused">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i
                                                        class="ni ni-lock-circle-open"></i></span>
                                            </div>
                                            <input class="form-control" placeholder="Confirm Password *" required type="password" formControlName="confirmPassword" >
                                        </div>  
                                    </div>
                                    <div *ngIf="submitted && f.confirmPassword.errors" class="text-danger">
                                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                                    </div>
                                   
                                    <div class="row my-4">
                                        <div class="col-12">
                                            <div class="custom-control custom-control-alternative custom-checkbox">
                                                <input formControlName="acceptTerms" class="custom-control-input" id="customCheckRegister"
                                                    type="checkbox">
                                                <label class="custom-control-label" for="customCheckRegister">
                                                    <span>I agree with the <a [routerLink]="['/privacy']" target="_blank" >Privacy Policy</a> and <a [routerLink]="['/terms']" target="_blank" >Terms</a></span></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Acceptance is required</div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary mt-4" >Create account</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="mt-5">
                            <a class="nav-link nav-link-icon text-white float-left"  [routerLink]="['/auth/signin']" >
                                <i class="fas fa-user-astronaut mr-2"></i>
                                <span class="nav-link-inner--text">Sign in</span>
                            </a>

                            <a class="nav-link nav-link-icon text-white float-right"  [routerLink]="['/auth/forgotpassword']" >
                                <i class="ni ni-lock-circle-open"></i>
                                <span class="nav-link-inner--text">Forgot Password ?</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </section>

    </div>
</div>