<app-index-navbar></app-index-navbar>

<div class="section section-sm section-shaped">
    <div class="shape shape-style-1 shape-default">
      <span class="span-150"></span>
      <span class="span-50"></span>
      <span class="span-50"></span>
      <span class="span-75"></span>
      <span class="span-100"></span>
      <span class="span-75"></span>
      <span class="span-50"></span>
      <span class="span-100"></span>
      <span class="span-50"></span>
      <span class="span-100"></span>
    </div>
    <div class="page-header">
      <div class="container shape-container d-flex align-items-center py-lg mt-2">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <h3 class="text-white display-2"> About </h3>
              <h5 class="display-5 font-weight-normal text-white"> Creativity . Volunteer . Wish </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div> -->
  </div>
  <div class="section features-1">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto text-center">
          <span class="badge badge-primary badge-pill mb-3">About</span>
          <h3 class="display-3">STARSED</h3>
          <p class="lead">All about connecting the dots of the creative with volunteer</p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-md icon-shape icon-shape-primary shadow rounded-circle">
              <i class="fas fa-star"></i>
            </div>
            <h6 class="info-title text-uppercase text-primary">Creative Stars</h6>
            <p class="description opacity-8">
              Are you an artist, writer, developer, story teller or outsiders ? Why are you shy or hide your talent ? Stop hiding. Now is the time. All the creators, share your talent on this space. Right here Right now.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-md icon-shape icon-shape-success shadow rounded-circle">
              <i class="fa fa-hands-helping"></i>
            </div>
            <h6 class="info-title text-uppercase text-success">Volunteer</h6>
            <p class="description opacity-9">
              Why don't we use our talent not just creatives but also helpful to fill in the space ? Both helpful volunteer and valuable non-profit organization, feel free to join as free member in the space. To heal and create a better space. 
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-md icon-shape icon-shape-warning shadow rounded-circle">
              <i class="fa fa-asterisk"></i>
            </div>
            <h6 class="info-title text-uppercase text-warning">Wish</h6>
            <p class="description opacity-8">
              What is your wish ? Just whisper the wish on the list of the space. Let the wishes spread through the space. Don't underestimate the whisper voice. Believe. Have Faith. Why ? We can shake the world in gentle way.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section features-1">
    <div class="container">
  <div class="row">
    <div class="col-lg-8">
   
        <h6 class="info-title text-uppercase text-primary">About the Founder</h6>
        <p class="description">
            Hello, I am Seint Seint Thu @ Xiao Yuan Lv. I am a developer since 2012. I founded the STARSED on Dec 2020. During Covid 19, I got the idea of the starsed ( HOPE, HEAL, FAITH, RENEW, WISH ). The purpose of the website the connecting the dots. More about me > <a href="https://iam-xiaoyuanlv.web.app" target="_blank">Xiao Yuan Lv</a>
        </p>
    </div>
  </div>
 </div>
 </div>
  
  <br /><br />

<app-footer></app-footer>