<div class="register-page">

    <div class="wrapper">
        <section class="section-hero section-shaped section-lg">
            <div class="shape shape-style-1 shape-default">
                <span class="span-150"></span>
                <span class="span-50"></span>
                <span class="span-50"></span>
                <span class="span-75"></span>
                <span class="span-100"></span>
                <span class="span-75"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
              </div>
            <div class="container pt-lg-7">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card bg-secondary shadow border-0">
                            <div class="card-header bg-white text-center">
                                <img src="../../../../assets/img/brand/icon.png" style="width: 30px; height: auto;" />
                                <div class="text-muted text-center"><small>FORGOT PASSWORD</small></div>
                            </div>
                            <div class="card-body px-lg-5 py-md-5">
                               
                                <form role="form"  [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" >
                                   
                                    <div class="form-group">
                                        <div class="input-group input-group-alternative mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                            </div>
                                            <input class="form-control" placeholder="Email" type="email" formControlName="email" >
                                        </div>
                                    </div>
                                 
                                    <div class="text-center">
                                        <button type="submit" [disabled]="!loginForm.valid"  class="btn btn-primary mt-4">Send Email</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="mt-5">
                            <a class="nav-link nav-link-icon text-white float-left"  [routerLink]="['/auth/signin']" >
                                <i class="fas fa-user-astronaut mr-2"></i>
                                <span class="nav-link-inner--text">Sign in</span>
                            </a>

                            <a class="nav-link nav-link-icon text-white float-right"  [routerLink]="['/auth/forgotpassword']" >
                                <i class="ni ni-lock-circle-open"></i>
                                <span class="nav-link-inner--text">Forgot Password ?</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </section>

    </div>
</div>